# Environment variables
.env

# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# PyWhatKit database
PyWhatKit_DB.txt

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db